@import "../_variables.scss";

.notfound {
  width: 70%;
  height: auto;
  margin: 300px auto 200px auto;
  text-align: center;

  &__404 {
    display: flex;
    width: auto;
    margin-bottom: 50px;

    img {
      width: 100%;
    }
  }
}
